[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

mysqlclient = "*"
uwsgi = "*"
superset = "*"
rapidpro-python = "*"


[requires]

python_version = "3.6"
