[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

mysqlclient = "*"
uwsgi = "*"
superset = "*"
rapidpro-python = "*"
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
contextlib2 = "*"
"fabric3" = "*"


[requires]

python_version = "3.6"
